@white:  #FFFFFF;
@light:  #ACACAC;
@gray:   #555555;
@dark:   #3F3F3F;
@black:  #303030;

@red:    #FCC5D9;
@yellow: #EEECB9;
@green:  #BEE9C6;
@blue:   #A7E2FF;
@purple: #E0CEFF;


atom-text-editor {
    background: @black;
    color:      @white;

    .syntax--operator,
    { color: @white; }

    .syntax--comment,
    { color: @light; }

    .invisible-character,
    { color: @gray; }

    .syntax--identifier,
    .syntax--variable,
    { color: @red }

    .syntax--function,
    .syntax--support,
    { color: @yellow; }

    .syntax--class,
    .syntax--type,
    .syntax--entity,
    { color: @green; }

    .syntax--storage,
    .syntax--keyword,
    { color: @blue; }

    .syntax--constant,
    .syntax--string,
    { color: @purple; }

    .selection.region, 
    .wrap-guide,
    { background: @gray; }

    .gutter,
    { background: @dark; }

    .cursor,
    { border-left: 2px solid @white; }

    .bracket-matcher.region,
    { border-bottom: 2px solid @light; }

    .indent-guide-improved { background: #555555;
    &.indent-guide-stack   { background: #777777;
    &.indent-guide-active  { background: #888888;
    } } }
}

.syntax--html {
    .syntax--tag,
    { color: @blue; }
}

.css {
    .syntax--property-name,
    { color: @yellow; }

    .syntax--unit,
    { color: @purple; }
}

.syntax--haskell {
    .syntax--keyword.syntax--operator,
    .syntax--keyword>.syntax--operator,
    .syntax--double-colon,
    .syntax--type-signature,
    .syntax--arrow,
    .syntax--big-arrow,
    { color: @white; }

    .syntax--meta.syntax--preprocessor,
    { color: @light; }

    .syntax--identifier,
    .syntax--entity.syntax--function,
    { color: @yellow; }

    .syntax--class.syntax--prelude,
    { color: @green; }

    .syntax--keyword.syntax--infixl,
    .syntax--keyword.syntax--infixr,
    .syntax--keyword.syntax--infix,
    { color: @blue; }

    .syntax--module,
    { color: @purple; }
}

.syntax--java {
    *,
    .syntax--section,
    .syntax--operator,
    { color: @white; }

    .syntax--name.syntax--function,
    { color: @yellow; }

    .syntax--type,
    { color: @green; }

    .syntax--modifier,
    { color: @blue; }

    .syntax--modifier.syntax--import,
    { color: @purple; }
}

.syntax--python {
    .syntax--keyword.syntax--operator,
    { color: @white; }
}
